.block2 {
    height: 40vw;
    background-image: url('../../assets/block2-background.jpg');
    background-repeat: no-repeat;
    background-size: 100% 40vw;
    padding: 4vw 0 0 40vw;

    span {
        display: inline-block;
        color: rgb(255, 123, 0);
        font-size: 1.4vw;
        margin-bottom: 1rem;
    }
    h2 {
        font-size: 4vw;
        font-weight: 600;
    }
    p {
        /* Layout */
        margin: 2.5rem 0;
        max-width: 60%;

        /* Typography */
        font-size: 1.6rem;
        line-height: 2;
    }
    button {
        margin: 2rem 0;
        padding: 0.7vw 1vw;
        border: none;

        color: white;
    }
    button:first-of-type {
        background-color: rgb(255, 123, 0);
        border-radius: 5px 0 0 5px;
        padding: 0.7vw 1vw;
    }
    button:nth-of-type(2) {
        background-color: rgb(255, 151, 55);
        border-left: 1px solid white;
        border-radius: 0 5px 5px 0;
        margin-left: -1rem;
        padding: 0.7vw 0.8vw;
    }
}
